.landing-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;
    font-family: Arial, sans-serif;
  }
  
  .header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .header h1 {
    font-size: 3rem;
    margin-bottom: 0.5rem;
  }
  
  .header p {
    font-size: 1.2rem;
    color: #666;
  }
  
  .hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #3f3f3f;
    color: #fff;
    padding: 4rem;
    border-radius: 0.25rem;
    margin-bottom: 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .hero h2 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
  }
  
  .hero p {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    text-align: center;
  }
  
  .cta-button {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    padding: 0.5rem 2rem;
    font-size: 1.2rem;
    font-weight: bold;
    color: #fff;
    background-color: #555;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
  }
  
  .cta-button:hover {
    background-color: #3f3f3f;
  }
  
  .features {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin-bottom: 2rem;
  }
  
  .feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0 2rem;
  }